.forms{
    display: flex;
    width: 30rem;
    gap: .2rem;

}


.userinfo{
    display: flex;
    flex-direction: column;
    gap: .1rem;

    input{
        height: 2rem;
        border: 1px solid black;
    }
}

textarea{
    height: 6.5rem;
    resize: none;

    ::placeholder{
        font-style: normal;
    }
}

.button{
    border: 1px solid black;
    height: 2rem;
    width: 7rem;
    position: relative;
    top: 25px;
    left: -7rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    transition: background-color 0.5s ease, color 0.3s ease;
}

.button:hover{
    background-color: rgb(1, 1, 26);
    color: white;
    border: .5px solid black;
}

::placeholder{

    padding: 5px;
}


input:active{   

    outline: none;
}