.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 236, 236);
    padding: 1rem;
}

.header{
    margin: .8  rem 0 1rem 0;
}